<!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg bg-white navbar-light py-3 py-lg-0">
    <h1 class="display-3 text-uppercase text-center text-primary mb-15">OPTUM</h1>
    <h1 class="display-3 text-uppercase text-center mb-15">Health</h1>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto py-0 pr-3 border-right">
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item">
            <a href="/home" class="nav-link" routerLink="home">Home</a>
          </li>
          <li class="nav-item" *ngIf="showAdminBoard">
            <a href="/admin" class="nav-link" *ngIf="showAdminBoard" routerLink="admin">Admin Board</a>
          </li>
          <li class="nav-item" *ngIf="showModeratorBoard">
            <a href="/mod" class="nav-link" routerLink="mod">Moderator Board</a>
          </li>
          <li class="nav-item">
            <a href="/programs" class="nav-link" *ngIf="isLoggedIn" routerLink="programs">Programs</a>
          </li>
          <li class="nav-item">
            <a href="/rewards" class="nav-link" *ngIf="isLoggedIn" routerLink="rewards">Rewards</a>
          </li>
          <li class="nav-item">
            <a href="/appointments" class="nav-link" *ngIf="isLoggedIn" routerLink="appointments">Appointments</a>
          </li>
          <li class="nav-item">
            <a href="/questionnaire" class="nav-link" *ngIf="isLoggedIn" routerLink="questionnaire">Questionnaire</a>
          </li>
        </ul>
      </div>
      <div class="d-none d-lg-flex align-items-center pl-4">
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="login">Login</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">LogOut</a>
          </li>
        </ul>
      </div>
    </div>

  </nav>
  <hr style="height: 14px; border-style: solid; background-color: black;">
<!-- Navbar End -->
<div>
  <router-outlet></router-outlet>
  <!-- Footer Start -->
  <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-md-5" style="margin-top: 20px;">
    <div class="row pt-5">
      <div class="col-lg-3 col-md-6 mb-5">
        <a href="index.html" class="navbar-brand">
          <h1 class="m-0 mt-n2 text-white display-4">OPTUM</h1>
        </a>
        <p>Volup amet magna clita tempor. Tempor sea eos vero ipsum. Lorem lorem sit sed elitr sed kasd et</p>
        <h6 class="text-uppercase text-white py-2">Follow Us</h6>
        <div class="d-flex justify-content-start">
          <a class="btn btn-lg btn-primary btn-lg-square mr-2" href="#"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-lg btn-primary btn-lg-square mr-2" href="#"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-lg btn-primary btn-lg-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-lg btn-primary btn-lg-square" href="#"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="text-uppercase text-white mb-4">Get In Touch</h4>
        <p>Volup amet magna clita tempor. Tempor sea eos vero ipsum. Lorem lorem sit sed elitr sed kasd et</p>
        <p><i class="fa fa-map-marker-alt text-white mr-2"></i>123 Street, New York, USA</p>
        <p><i class="fa fa-phone-alt text-white mr-2"></i>+012 345 67890</p>
        <p><i class="fa fa-envelope text-white mr-2"></i>info@example.com</p>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="text-uppercase text-white mb-4">Quick Links</h4>
        <div class="d-flex flex-column justify-content-start">
          <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Home</a>
          <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>About Us</a>
          <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Our Services</a>
          <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Pricing Plan</a>
          <a class="text-white-50 mb-2" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Meet The Team</a>
          <a class="text-white-50" href="#"><i class="fa fa-angle-right text-white mr-2"></i>Contact Us</a>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 mb-5">
        <h4 class="text-uppercase text-white mb-4">Newsletter</h4>
        <p class="mb-4">Volup amet magna clita tempor. Tempor sea eos vero ipsum. Lorem lorem sit sed elitr sed kasd et</p>
        <div class="w-100 mb-3">
          <div class="input-group">
            <input type="text" class="form-control border-light" style="padding: 25px;" placeholder="Your Email">
            <div class="input-group-append">
              <button class="btn btn-primary text-uppercase px-3">Sign Up</button>
            </div>
          </div>
        </div>
        <i>Lorem sit sed elitr sed kasd et</i>
      </div>
    </div>
  </div>
  <div class="container-fluid py-4 px-sm-3 px-md-5" style="background: #111111;">
    <p class="mb-2 text-center text-white-50">&copy; <a href="#">Your Site Name</a>. All Rights Reserved.</p>
    <p class="m-0 text-center text-white-50">Designed by <a href="https://htmlcodex.com">HTML Codex</a></p>
  </div>
  <!-- Footer End -->
</div>
