<div class="container">
  <!-- Services Start -->
  <div class="container-fluid py-5">
    <div class="container pt-5 pb-3">
      <h1 class="display-4 text-uppercase text-center mb-5">ADMIN <span class="text-primary">BOARD</span></h1>
      <div class="row">
        <div class="col-lg-4 mb-2">
          <div class="service-item rounded p-5 mb-1" (click)="showUsersTable()" >
            <i class="fa fa-3x fa-laptop-code text-primary mb-4"></i>
            <h4 class="text-uppercase mb-4">Manager<span class="d-block text-body">Users</span></h4>
            <p class="m-0">Manage users for add, delete, activate & deactivate functions</p>
          </div>
        </div>
        <div class="col-lg-4 mb-2">
          <div class="service-item rounded p-5 mb-4" (click)="showApprovalsTable()">
            <i class="fa fa-3x fa-code text-primary mb-4"></i>
            <h4 class="text-uppercase mb-4">Approve<span class="d-block text-body">Requests</span></h4>
            <p class="m-0">Approve request for different portal users</p>
          </div>
        </div>
        <div class="col-lg-4 mb-2">
          <div class="service-item rounded p-5 mb-4" (click)="showProgramsTable()">
            <i class="fa fa-3x fa-envelope-open-text text-primary mb-4"></i>
            <h4 class="text-uppercase mb-4">Manage<span class="d-block text-body">Programs</span></h4>
            <p class="m-0">Add or remove programs to the portal</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Services End -->
  <div class="container" *ngIf="showUsers">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>S.No</th>
        <th>User Name</th>
        <th>First Name</th>
        <th>Last Name</th>
      </tr>
      </thead>
      <tbody>

      <ng-container *ngFor="let user of users">
        <tr (click)="showProfileDiv(user.id)">
          <td>{{user.id}}</td>
          <td>{{user.username}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.lastName}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>

  <div class="container" *ngIf="showProfile">
    <div class="card u-clearfix">
      <span class="card-heading"><h6 class="text-uppercase text-primary"><i class="fa fa-user"></i> Name</h6></span>
      <ul class="card-list">
        <div class="row mx-0 align-items-center px-5">
          <h6 class="text-uppercase">{{ currentUser.firstName }} {{ currentUser.lastName }}</h6>
        </div>
      </ul>
      <span class="card-heading"><h6 class="text-uppercase text-primary"><i class="fa fa-heartbeat"></i> Age</h6></span>
      <ul class="card-list">
        <div class="row mx-0 align-items-center px-5">
          <h6 class="text-uppercase">27</h6>
        </div>
      </ul>
      <span class="card-heading"><h6 class="text-uppercase text-primary"><i class="fa fa-person-walking"></i> Active</h6></span>
      <ul class="card-list">
        <div class="row mx-0 align-items-center px-5">
          <h6 class="text-uppercase">{{ currentUser.active}}</h6>
        </div>
      </ul>
      <span class="card-heading"><h6 class="text-uppercase text-primary"><i class="fa fa-envelope"></i> Email</h6></span>
      <ul class="card-list">
        <div class="row mx-0 align-items-center px-5">
          <h6 class="text-uppercase">{{ currentUser.email}}</h6>
        </div>
      </ul>
      <span class="card-heading"><h6 class="text-uppercase text-primary"><i class="fa fa-user"></i> Username</h6></span>
      <ul class="card-list">
        <div class="row mx-0 align-items-center px-5">
          <h6 class="text-uppercase">{{ currentUser.username}}</h6>
        </div>
      </ul>
      <span class="card-heading"><h6 class="text-uppercase text-primary"><i class="fa fa-calendar-alt"></i> Registered On</h6></span>
      <ul class="card-list">
        <div class="row mx-0 align-items-center px-5">
          <h6 class="text-uppercase">{{ currentUser.createdDate }}</h6>
        </div>
      </ul>
      <span class="card-heading"><h6 class="text-uppercase text-primary"><i class="fa fa-tasks"></i> Programs</h6></span>
      <ul class="card-list">
        <ng-container *ngFor="let program of currentUser.programs">
          <div class="row mx-0 align-items-center px-5">
            <span (click)="showActivitiesDiv(currentUser.id, program.programId)">
              <h6 class="text-uppercase"><i class="fa fa-check-square"></i> {{ program.program_name }}</h6>
            </span>
            <div class="container" *ngIf="showActivities && currentProgram == program.programId">

              <mat-selection-list>
                <div [class.isDisabled]="true">
                  <mat-list-option *ngFor="let activity of activities" [selected]="activity.selected" [value]="activity.activityId">
                    <h4 class="text-uppercase mb-7" title="{{activity.activity}}">
                      <span class="text-primary">{{activity.activity}}</span>
                    </h4>
                    <h4 class="text-uppercase mb-7" title="{{activity.description}}">{{activity.description}}</h4>
                  </mat-list-option>
                </div>
              </mat-selection-list>

              <!--ng-container *ngFor="let activity of selectedActivities">
                <ul class="card-list">
                  <div class="row mx-0 align-items-center px-5">
                    <span>
                      <h6 class="text-uppercase"><i class="fa fa-check-square"></i> {{ activity }}</h6>
                    </span>
                  </div>
                </ul>
              </ng-container-->
            </div>
          </div>
        </ng-container>
      </ul>
      <span class="card-heading"><h6 class="text-uppercase text-primary"><i class="fa fa-star"></i> Rewards</h6></span>
      <ul class="card-list">
        <ng-container *ngFor="let reward of currentUser.rewards">
          <div class="row mx-0 align-items-center px-5">
            <span>
              <h6 class="text-uppercase"><i class="fa fa-trophy"></i> {{ reward.reward_name }}</h6>
            </span>
          </div>
        </ng-container>
      </ul>
    </div>
  </div>

  <div class="container" *ngIf="showPrograms">
    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>S.No</th>
        <th>Program Name</th>
        <th>Description</th>
        <th>Active</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let program of programs">
        <tr>
          <td>{{program.programId}}</td>
          <td>{{program.program_name}}</td>
          <td>{{program.description}}</td>
          <td>{{program.active}}</td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </div>



</div>
